* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
/* ------------------------------------ FIRST SECTION ----------------------------------------- */
/* ------------------------------------ FIRST SECTION ----------------------------------------- */
/* ------------------------------------ FIRST SECTION ----------------------------------------- */
.first-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-section-row {
  display: flex;
  flex-direction: row;
  height: 92%;
  position: relative;
}

#white-blank-space {
  height: 8%;
  background-color: white;
}

.first-section-left-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  height: 100%;
  background-color: #00203fff;
}

.first-section-left-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  color: whitesmoke;
}

#title {
  color: #adefd1ff;
  font-size: 4.5em;
  margin-bottom: 1.1em;
}

#about-me-text {
  font-size: 1.7em;
  width: 95%;
}

.first-section-right-wrapper {
  width: 26%;
  height: 100%;
  background-color: #adefd1ff;
}

#image-of-myself {
  position: absolute;
  width: 350px;
  left: calc(74% - 175px);
  top: calc(45% - 160px);
  padding: 0px 5px;
  border-left: 1px solid #adefd1ff;
  border-right: 1px solid #00203fff;
}

/* ------------------------------------ SECOND SECTION ----------------------------------------- */

.second-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.about-me-text-wrapper {
  width: 50%;
  height: auto;
  border-radius: 15px;
  padding: 2em;
  padding-top: 1em;
  background-color: #adefd1ff;
}

.about-me-text-wrapper h1 {
  text-align: center;
  color: #00203fff;
  font-size: 4.5em;
  margin-bottom: 0.3em;
  margin-top: 0em;
}

.about-me-text {
  font-size: 1.3em;
}

#coding-guy-image {
  width: 30%;
  height: 30%;
}

#airplane-image {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 20px;
  left: 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.tech-stack > li {
margin: 10px 0px;
}
/* ------------------------------------ THIRD SECTION ----------------------------------------- */

.third-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------ SCROLLBAR ----------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #00203fff;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: yellow;
} */
