* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
/* ------------------------------------ FIRST SECTION ----------------------------------------- */
/* ------------------------------------ FIRST SECTION ----------------------------------------- */
/* ------------------------------------ FIRST SECTION ----------------------------------------- */

.first-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-section-row {
  display: flex;
  flex-direction: row;
  height: 92%;
  position: relative;
}

#white-blank-space {
  height: 8%;
  background-color: white;
}

.first-section-left-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  height: 100%;
  background-color: #00203fff;
}

.first-section-left-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  color: white;
}

#title {
  color: #adefd1ff;
  font-size: 4.5em;
  margin-bottom: 1.1em;
}

#about-me-text {
  font-size: 1.7em;
  width: 90%;
}

.first-section-right-wrapper {
  width: 26%;
  height: 100%;
  background-color: #adefd1ff;
}

#image-of-myself {
  position: absolute;
  width: 350px;
  left: calc(74% - 175px);
  top: calc(45% - 160px);
  padding: 0px 5px;
  border-left: 1px solid #adefd1ff;
  border-right: 1px solid #00203fff;
}

/* ------------------------------------ SECOND SECTION ----------------------------------------- */

.second-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.about-me-text-wrapper {
  width: 50%;
  height: auto;
  border-radius: 15px;
  padding: 2em;
  padding-top: 1em;
  background-color: #adefd1ff;
}

.about-me-text-wrapper h1 {
  text-align: center;
  color: #00203fff;
  font-size: 4.5em;
  margin-bottom: 0.3em;
  margin-top: 0em;
}

.about-me-text {
  font-size: 1.3em;
}

#coding-guy-image {
  width: 30%;
  height: 30%;
}

.airplane-image {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 20px;
  left: 20px;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.airplane-image.active2 {
  left: 445px;
}

.tech-stack > li {
  margin: 10px 0px;
}
/* ------------------------------------ THIRD SECTION ----------------------------------------- */

.third-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #00203fff;
  align-items: center;
  justify-content: center;
}

.third-section-wrapper {
  height: 90%;
  width: 80%;
}

.third-section-wrapper h1 {
  text-align: center;
  color: #adefd1ff;
  font-size: 4.5em;
  margin-bottom: 0.6em;
  margin-top: 0em;
}

.projects-wrapper {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-card {
  height: 90%;
  width: 30%;
  background-color: #adefd1ff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgb(107, 181, 147);
  transition: transform 250ms;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  display: block;
  margin: 5% auto 3% auto;
  border-radius: 15px;
  height: 55%;
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.project-card h2 {
  color: #00203fff;
  text-align: center;
  font-size: 2em;
}

.project-card-text {
  text-align: center;
  padding: 5% 5% 5% 5%;
  font-size: 1.3em;
}

#square {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 70px;
  left: 30%;
  background-color: #6c63ff;
}

#stairs {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 20px;
  left: 200px;
}

/* ------------------------------------ FOURTH SECTION ----------------------------------------- */

.fourth-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00203fff;
}

.fourth-section-wrapper {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth-section-wrapper h1 {
  text-align: center;
  color: #adefd1ff;
  font-size: 4.5em;
  margin-bottom: 0.1em;
}

#contact-subtitle {
  text-align: center;
  color: #adefd1ff;
  font-size: 1.5em;
  margin-bottom: 1.6em;
  width: 40vw;
}

form {
  width: 50%;
  height: 45%;
  background-color: #adefd1ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1.6em;
}

.first-input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.first-input-row-container {
  width: 50%;
  padding: 0px 1.7em;
}

.first-input-row-container > input {
  width: 100%;
  height: 65%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.second-input-row-container {
  width: 100%;
  padding: 0px 1.7em;
}
.second-input-row-container > textarea {
  width: 100%;
  height: 170px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}

.second-input-row-container h2,
.first-input-row-container h2 {
  margin-bottom: 10px;
  color: #00203fff;
}

textarea {
  resize: none;
}

.send-button {
  padding: 1% 2%;
  background-color: #adefd1ff;
  border: none;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.1.5s all;
  color: #00203fff;
  font-size: 1.5em;
  font-weight: bold;
}

.send-button:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

/* ------------------------------------ NAV MENU ----------------------------------------- */

.hamburguer-container {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-hamburger-container {
  align-self: flex-end;
  margin-right: 10px;
  cursor: pointer;
}

.nav-menu {
  width: 27%;
  height: 50vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 700ms;
  z-index: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-menu.active {
  right: 0;
  transition: 200ms;
}

.nav-menu.active h1 {
  color: #00203fff;
  margin: 2px 0px;
  padding: 10px 40px;
  transition: all 0.3s;
  font-size: 1.8em;
}

.nav-menu.active h1:hover {
  background-color: #adefd1ff;
  border-radius: 10px;
  margin: 10px 0px;
  font-size: 2.5em;
}

.nav-menu.active h1:active {
  transform: scale(0.95);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(19, 8, 102, 0.24);
  /* Lowering the shadow */
}
.navigation-titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.line-under {
  margin-top: 2px;
  height: 1px;
  width: 50px;
  background-color: #00203fff;
}

.nav-titles {
  text-decoration: none;
  color: inherit;
}

.bottom-part-menu {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

/* ------------------------------------ SOCIALS ----------------------------------------- */

.social-icons-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
}

.social-icons-container-menu-bar {
  z-index: 3;
  margin-right: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
}

/* ------------------------------------ FLAGS ----------------------------------------- */

.language-choice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
}

.language-choice-container img {
  cursor: pointer;
}

.english-flags {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-evenly;
  cursor: pointer;
}

.vertical-line-separator {
  width: 1px;
  height: 20px;
  margin-left: 7px;
  background-color: #00203fff;
}
/* ------------------------------------ MAIL NOTIFICATION ----------------------------------------- */

.email-notification {
  width: auto;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: -100%;
  transition: 700ms;
  z-index: 3;
  padding: 30px 20px;
  border-radius: 10px;
}

.email-notification.active {
  right: 20px;
  transition: 200ms;
}

/* ------------------------------------ SCROLLBAR ----------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #00203fff;
}

::-webkit-scrollbar-track-piece {
  background-color: #00203fff;
}

::-webkit-scrollbar-thumb {
  background-color: #adefd1ff;
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: yellow;
} */

/* ------------------------------------ Go back homme ----------------------------------------- */
.go-back {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  width: auto;
  color: #00203fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #adefd1ff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.3em;
  box-shadow: 7px 6px 28px 1px rgba(98, 214, 185, 0.2);
  cursor: pointer;
  transition: all 0.7s ease;
}
.go-back:hover {
  transform: translateY(+5px);
  box-shadow: 7px 6px 28px 1px rgba(98, 214, 185, 0.35);
}
.go-back:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(98, 214, 185, 0.14);
  /* Lowering the shadow */
}

.go-back img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.go-back.second {
  transform: translateX(calc(90vw - 28%));
}

.player-wrapper {
  height: 80%;
  width: 90%;
  min-height: 225px;
}

.first-section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #00203fff;
}

.first-section-column h1 {
  color: #adefd1ff;
  font-size: 4.5em;
  margin: 0.4em;
}

#MyRole-image {
  width: 400px;
  height: 200px;
  margin-top: 12%;
  margin-left: 5%;
  border-radius: 5px;
}

#MyRole-image-dapp {
  width: 400px;
  height: 200px;
  margin-top: 12%;
  margin-left: 5%;
  border-radius: 5px;
}

#Technologies-image {
  width: 200px;
  height: 180px;
  margin-left: 10%;
}

#MyRole-image-nightowl {
  width: 400px;
  height: 370px;
}

/* ------------------------------------ MEDIA QUERIES ----------------------------------------- */

@media (max-width: 1800px) {
  /* ------------------------------------ THIRD SECTION ----------------------------------------- */

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 0em;
  }

  .projects-wrapper {
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-card {
    height: 92%;
    width: 30%;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.8em;
  }
}

@media (max-width: 1680px) {
  /* ------------------------------------ GO BACK ----------------------------------------- */

  .go-back img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 29%));
  }

  .about-me-text-wrapper {
    width: 60%;
  }

  #coding-guy-image {
    width: 25%;
    height: 25%;
  }

  .about-me-text-wrapper h1 {
    font-size: 3.5em;
  }
  #square {
    display: none;
  }
  .third-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #00203fff;
    align-items: center;
    justify-content: center;
  }

  .third-section-wrapper {
    height: 90%;
    width: 85%;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.8em;
    margin-bottom: 0.8em;
    margin-top: 0em;
  }

  .projects-wrapper {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-card {
    height: 92%;
    width: 30%;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-card img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 50%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.6em;
  }

  .project-card-text {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-size: 1.2em;
  }
}

@media (max-width: 1300px) {
  .airplane-image.active2 {
    left: 370px;
  }

  /* ------------------------------------ GO BACK ----------------------------------------- */
  .go-back {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    width: auto;
    color: #00203fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #adefd1ff;
    padding: 7px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
    box-shadow: 7px 6px 28px 1px rgba(98, 214, 185, 0.2);
    cursor: pointer;
    transition: all 0.7s ease;
  }

  .go-back img {
    width: 23px;
    height: 23px;
    margin-left: 10px;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 30%));
  }
  /* ------------------------------------ SECOND ----------------------------------------- */
  .about-me-text-wrapper {
    width: 60%;
  }

  #coding-guy-image {
    width: 25%;
    height: 25%;
  }

  .about-me-text-wrapper h1 {
    font-size: 3em;
  }

  .about-me-text {
    font-size: 1.1em;
  }

  /* THIRD SECTION*/
  .third-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #00203fff;
    align-items: center;
    justify-content: center;
  }

  .third-section-wrapper {
    height: 90%;
    width: 95%;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.5em;
    margin-bottom: 0.8em;
    margin-top: 0em;
  }

  .projects-wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-card {
    height: 92%;
    width: 30%;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-card img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 45%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.7em;
  }

  .project-card-text {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-size: 1.2em;
  }

  /* ------------------------------------ FOURTH SECTION ----------------------------------------- */

  .fourth-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00203fff;
  }

  .fourth-section-wrapper {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fourth-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 3em;
    margin-bottom: 0.1em;
  }

  #contact-subtitle {
    text-align: center;
    color: #adefd1ff;
    font-size: 1.4em;
    margin-bottom: 1.6em;
    width: 80%;
  }

  form {
    width: 60%;
    height: 65%;
    background-color: #adefd1ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1.6em;
  }

  .first-input-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;
  }

  .first-input-row-container {
    width: 100%;
    padding: 0px 1.2em;
  }

  .second-input-row-container {
    width: 100%;
    padding: 0px 1.2em;
    margin-bottom: 20px;
  }

  .nav-menu {
    width: 30%;
    height: 50vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 700ms;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .bottom-part-menu {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }

  .language-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 36%;
    margin-left: 20px;
  }
  .social-icons-container-menu-bar {
    margin-right: 0px;
  }

  .language-choice-container img {
    cursor: pointer;
  }

  .english-flags img {
    margin: 0px 2px;
  }

  .english-flags {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-evenly;
    cursor: pointer;
    margin-left: -6px;
  }

  #spanish-flag {
    border-right: 1px solid black;
    padding-right: 3px;
  }
}

@media (max-width: 1100px) {
  .go-back img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 32%));
  }

  .about-me-text-wrapper {
    width: 70%;
  }

  .about-me-text-wrapper h1 {
    font-size: 3em;
  }

  .about-me-text {
    font-size: 1em;
  }

  .airplane-image {
    position: absolute;
    width: 110px;
    height: 110px;
  }

  #coding-guy-image {
    width: 20%;
    height: 20%;
  }
}

@media (max-width: 950px) {
  .player-wrapper {
    height: 80%;
    margin-top: 30px;
    width: 90%;
    min-height: 225px;
  }
  .first-section-column h1 {
    color: #adefd1ff;
    font-size: 3.5em;
    margin: 0.4em;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 47%));
  }

  .first-section-row {
    display: flex;
    flex-direction: column;
    height: 92%;
    position: relative;
  }

  .first-section-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74%;
    width: 100%;
    background-color: #00203fff;
  }

  .first-section-left-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    color: white;
  }

  #title {
    color: #adefd1ff;
    font-size: 3em;
    margin-bottom: 1.1em;
    align-self: center;
  }

  #about-me-text {
    font-size: 1.3em;
    width: 100%;
    align-self: center;
  }

  .first-section-right-wrapper {
    height: 26%;
    width: 100%;
    background-color: #adefd1ff;
  }

  #image-of-myself {
    position: absolute;
    width: 250px;
    top: calc(74% - 125px);
    left: calc(45% - 83px);
    padding: 0px 5px;
    border-left: none;
    border-right: none;
    padding: 5px 0px;
    border-top: 1px solid #adefd1ff;
    border-bottom: 1px solid #00203fff;
  }

  /* THIRD SECTION*/

  .third-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #00203fff;
    align-items: center;
    justify-content: center;
  }

  .third-section-wrapper {
    height: 90%;
    width: 95%;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 0em;
  }

  .projects-wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-card {
    height: 89%;
    width: 30%;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-card img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 40%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.5em;
  }

  .project-card-text {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-size: 1.1em;
  }
  #stairs {
    width: 100px;
    height: 100px;
    left: 100px;
  }
}

@media (max-width: 850px) {
  .App {
    height: 100vh;
    width: 100%;
    scroll-snap-type: none;
    overflow-y: auto;
  }

  .social-icons-container {
    position: fixed;
  }

  .hamburguer-container {
    position: fixed;
  }

}

@media (max-width: 720px) {
  .airplane-image.active2 {
    left: 80%;
  }
  #MyRole-image {
    width: 350px;
    height: 175px;
    margin-top: 18%;
    margin-left: 5%;
    border-radius: 5px;
  }
  #MyRole-image-dapp {
    width: 350px;
    height: 175px;
    margin-top: 18%;
    margin-left: 5%;
    border-radius: 5px;
  }
  #Technologies-image {
    width: 150px;
    height: 140px;
    margin-left: 10%;
  }

  #MyRole-image-nightowl {
    width: 355px;
    height: 220px;
    margin-top: 10%;
  }

  .player-wrapper {
    height: 70%;
    margin-top: 30px;
    width: 90%;
    min-height: 225px;
  }
  .first-section-column h1 {
    color: #adefd1ff;
    font-size: 3em;
    margin: 0.4em;
    margin-top: 40px;
  }

  .go-back img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 55%));
  }

  .nav-menu {
    width: 70%;
    height: 50vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 700ms;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* ------------------------------------ MAIL NOTIFICATION ----------------------------------------- */
  .email-notification {
    width: auto;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: -1000%;
    transition: 700ms;
    z-index: 3;
    padding: 30px 20px;
    border-radius: 10px;
    font-size: 0.9em;
  }

  .email-notification.active {
    right: 20px;
    transition: 200ms;
  }

  /* ------------------------------------ FIRST SECTION ----------------------------------------- */
  .first-section-row {
    display: flex;
    flex-direction: column;
    height: 95%;
    position: relative;
  }

  #white-blank-space {
    height: 5%;
    background-color: white;
  }

  .first-section-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    background-color: #00203fff;
  }

  .first-section-left-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    color: white;
  }

  #title {
    color: #adefd1ff;
    font-size: 2.5em;
    margin-bottom: 0.8em;
    align-self: center;
  }

  #about-me-text {
    font-size: 1.3em;
    width: 100%;
    align-self: center;
  }

  .first-section-right-wrapper {
    height: 20%;
    width: 100%;
    background-color: #adefd1ff;
  }

  #image-of-myself {
    position: absolute;
    width: 250px;
    top: calc(74% - 125px);
    left: calc(45% - 100px);
    padding: 0px 5px;
    border-left: none;
    border-right: none;
    padding: 5px 0px;
    border-top: 1px solid #adefd1ff;
    border-bottom: 1px solid #00203fff;
  }

  /* ------------------------------------ SECOND SECTION ----------------------------------------- */
  .second-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .about-me-text-wrapper {
    width: 90%;
    height: auto;
    padding: 2em;
  }

  .about-me-text-wrapper h1 {
    font-size: 3em;
  }

  .about-me-text {
    font-size: 1em;
  }

  .airplane-image {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  #square {
    display: none;
  }
  #coding-guy-image {
    width: 16%;
    height: 16%;
    margin-bottom: -50px;
  }

  #stairs {
    display: "none";
    width: 10px;
  }

  /* ------------------------------------ THIRD SECTION ----------------------------------------- */
  .third-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #00203fff;
    align-items: center;
    justify-content: center;
  }

  .third-section-wrapper {
    height: 90%;
    width: 95%;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.5em;
    margin-bottom: 0.8em;
    margin-top: 0em;
  }

  .projects-wrapper {
    height: 90%;
    width: 100%;
    position: relative;
  }

  .project-card:nth-of-type(1) {
    position: absolute;
    align-self: center;
    top: 55%;
    height: 40%;
  }

  .project-card:nth-of-type(1) img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 45%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card:nth-of-type(1) h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: -20px;
  }

  .project-card {
    height: 45%;
    width: 92%;
    margin: 0px 10px;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-card img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 38%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.2em;
  }

  .project-card-text {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-size: 0.7em;
  }

  /* ------------------------------------ FOURTH SECTION ----------------------------------------- */

  .fourth-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00203fff;
  }

  .fourth-section-wrapper {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fourth-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 3em;
    margin-bottom: 0.1em;
  }

  #contact-subtitle {
    text-align: center;
    color: #adefd1ff;
    font-size: 1.4em;
    margin-bottom: 1.6em;
    width: 80%;
  }

  form {
    width: 50%;
    height: 65%;
    background-color: #adefd1ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1.6em;
  }

  .first-input-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;
  }

  .first-input-row-container {
    width: 100%;
    padding: 0px 1.2em;
  }

  .first-input-row-container > input {
    width: 100%;
    height: 65%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
  }

  .second-input-row-container {
    width: 100%;
    padding: 0px 1.2em;
    margin-bottom: 20px;
  }

  .second-input-row-container h2,
  .first-input-row-container h2 {
    margin-bottom: 10px;
    color: #00203fff;
    font-size: 1.3em;
  }

  .second-input-row-container > textarea {
    resize: none;
    width: 100%;
    height: 160px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
  }
}

@media (max-width: 600px) {
  /* PROJECTS IMAGES*/
  #MyRole-image {
    width: 350px;
    height: 175px;
    margin-top: 18%;
    margin-left: 5%;
    border-radius: 5px;
  }

  #MyRole-image-dapp {
    display: none;
  }

  #Technologies-image {
    width: 150px;
    height: 140px;
    margin-left: 10%;
  }

  #MyRole-image-nightowl {
    width: 355px;
    height: 220px;
    margin-top: 10%;
  }

  .player-wrapper {
    height: 70%;
    margin-top: 30px;
    width: 90%;
    min-height: 225px;
  }
  .first-section-column h1 {
    color: #adefd1ff;
    font-size: 3em;
    margin: 0.4em;
    margin-top: 40px;
  }

  .go-back img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 70%));
  }
  /*-------------------------------------------------------------------------------*/
  .first-section-row {
    display: flex;
    flex-direction: column;
    height: 92%;
    position: relative;
  }

  .first-section-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74%;
    width: 100%;
    background-color: #00203fff;
  }

  .first-section-left-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    color: white;
  }

  #title {
    color: #adefd1ff;
    font-size: 2.8em;
    margin-bottom: 1.1em;
    align-self: center;
  }

  #about-me-text {
    font-size: 1em;
    width: 100%;
    align-self: center;
  }

  #image-of-myself {
    position: absolute;
    width: 150px;
    top: calc(74% - 75px);
    left: calc(45% - 60px);
    padding: 0px 5px;
    border-left: none;
    border-right: none;
    padding: 5px 0px;
    border-top: 1px solid #adefd1ff;
    border-bottom: 1px solid #00203fff;
  }

  /*-------------------------------------------------------------------------------*/
  .about-me-text-wrapper {
    width: 80%;
  }

  .about-me-text-wrapper h1 {
    font-size: 2em;
  }

  .about-me-text {
    font-size: 0.8em;
  }

  .airplane-image {
    position: absolute;
    width: 110px;
    height: 110px;
  }

  #coding-guy-image {
    width: 20%;
    height: 20%;
  }

  .second-input-row-container > textarea {
    resize: none;
    width: 100%;
    height: 150px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
  }
}

@media (max-width: 540px) {
  form {
    width: 80%;
  }

  .about-me-text-wrapper {
    width: 80%;
  }

  .about-me-text-wrapper h1 {
    font-size: 2em;
  }

  .about-me-text {
    font-size: 0.75em;
  }

  .airplane-image.active2 {
    left: 70%;
  }
  .first-section-column h1 {
    color: #adefd1ff;
    font-size: 3em;
    margin: 0.4em;
    margin-top: 40px;
  }

  .go-back.second {
    transform: translateX(calc(90vw - 80%));
  }

  #MyRole-image-dapp {
    display: none;
  }

  #MyRole-image-nightowl {
    display: none;
  }

  #Technologies-image {
    display: none;
  }

  .about-me-text-wrapper {
    width: 90%;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2em;
    margin-bottom: 0.8em;
    margin-top: 0em;
  }

  .projects-wrapper {
    height: 90%;
    width: 100%;
    position: relative;
  }

  .project-card:nth-of-type(1) {
    position: absolute;
    align-self: center;
    top: 53%;
    height: 40%;
  }

  .project-card:nth-of-type(1) img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 45%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card:nth-of-type(1) h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: -10px;
  }

  .project-card {
    height: 48%;
    width: 92%;
    margin: 0px 10px;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1em;
  }

  .project-card-text {
    font-size: 0.7em;
  }

  .second-input-row-container > textarea {
    resize: none;
    width: 100%;
    height: 145px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
  }
}

@media (max-width: 400px) {
  .nav-menu {
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 700ms;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .fourth-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00203fff;
  }

  .fourth-section-wrapper {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fourth-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.5em;
    margin-bottom: 0.1em;
  }

  #contact-subtitle {
    text-align: center;
    color: #adefd1ff;
    font-size: 1.2em;
    margin-bottom: 1.6em;
    width: 80%;
  }

  form {
    width: 90%;
    height: 65%;
    background-color: #adefd1ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1.6em;
  }

  .first-input-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;
  }

  .first-input-row-container {
    width: 100%;
    padding: 0px 1.2em;
  }

  .first-input-row-container > input {
    width: 100%;
    height: 65%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
  }

  .second-input-row-container {
    width: 100%;
    padding: 0px 1.2em;
    margin-bottom: 20px;
  }

  .second-input-row-container h2,
  .first-input-row-container h2 {
    margin-bottom: 10px;
    color: #00203fff;
    font-size: 1.1em;
  }

  .second-input-row-container > textarea {
    resize: none;
    width: 100%;
    height: 135px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 1.8em;
    margin-bottom: 0.8em;
    margin-top: 0em;
  }

  .about-me-text {
    font-size: 0.7em;
  }
  .projects-wrapper {
    height: 95%;
    width: 100%;
    position: relative;
  }

  .project-card:nth-of-type(1) {
    position: absolute;
    align-self: center;
    top: 53%;
    height: 38%;
  }

  .project-card:nth-of-type(1) img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 40%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card:nth-of-type(1) h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: -10px;
  }

  .project-card {
    height: 55%;
    width: 92%;
    margin: 0px 10px;
    background-color: #adefd1ff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(107, 181, 147);
    transition: transform 250ms;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 0.9em;
  }

  .project-card-text {
    font-size: 0.65em;
  }
}

@media (max-height: 860px) {
  /*FIRST SECTION*/
  .first-section-row {
    display: flex;
    flex-direction: column;
    height: 92%;
    position: relative;
  }

  .first-section-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74%;
    width: 100%;
    background-color: #00203fff;
  }

  .first-section-left-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    color: white;
  }

  #title {
    color: #adefd1ff;
    font-size: 2.5em;
    margin-bottom: 0.9em;
    align-self: center;
  }

  /* ------------------------------------ SECOND SECTION ----------------------------------------- */
  .second-section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .about-me-text-wrapper {
    width: 92%;
    height: 80vh;
  }

  .about-me-text-wrapper h1 {
    font-size: 1.6em;
  }

  .airplane-image {
    position: absolute;
    width: 90px;
    height: 90px;
  }

  #coding-guy-image {
    width: 20%;
    height: 20%;
  }

  #square {
    display: none;
  }

  #stairs {
    display: "none";
    width: 10px;
  }
  /* ------------------------------------ THIRD SECTION ----------------------------------------- */

  .third-section-wrapper {
    height: 90%;
    width: 95%;
  }

  .third-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2em;
  }

  .projects-wrapper {
    height: 90%;
    width: 100%;
    position: relative;
  }

  .project-card:nth-of-type(1) {
    position: absolute;
    align-self: center;
    top: 57%;
    height: 40%;
  }

  .project-card:nth-of-type(1) img {
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 15px;
    height: 45%;
    width: 90%;
    object-fit: cover;
    object-position: center;
  }

  .project-card:nth-of-type(1) h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: -20px;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.2em;
  }

  .project-card-text {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-size: 0.7em;
  }

  .fourth-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.8em;
    margin-bottom: 0.1em;
  }

  #contact-subtitle {
    font-size: 1.3em;
    margin-bottom: 1.4em;
    width: 90%;
  }

  form {
    width: 90%;
    height: 57%;
    background-color: #adefd1ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1.6em;
  }

  .first-input-row-container > input {
    width: 100%;
    height: 50%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
  }
}

@media (max-height: 760px) {
  /*FIRST SECTION*/

  #title {
    color: #adefd1ff;
    font-size: 2.2em;
    margin-bottom: 0.7em;
    align-self: center;
  }

  /* ------------------------------------ SECOND SECTION ----------------------------------------- */

  .about-me-text-wrapper h1 {
    font-size: 1.4em;
    margin-top: -25px;
  }

  .airplane-image {
    position: absolute;
    width: 70px;
    height: 70px;
  }

  #coding-guy-image {
    margin-top: -20px;
    width: 20%;
    height: 20%;
  }

  /* ------------------------------------ THIRD SECTION ----------------------------------------- */

  .project-card img {
    height: 34%;
  }

  .project-card:nth-of-type(1) h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: -14px;
  }

  .project-card h2 {
    color: #00203fff;
    text-align: center;
    font-size: 1em;
  }

  .project-card-text {
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-size: 0.62em;
  }
  /* ------------------------------------ FOURTH SECTION ----------------------------------------- */
  .fourth-section-wrapper h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 2.4em;
    margin-bottom: 0.1em;
  }

  #contact-subtitle {
    font-size: 1.2em;
    margin-bottom: 1.4em;
    width: 90%;
  }

  form {
    width: 90%;
    height: 56%;
    background-color: #adefd1ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1.6em;
  }

  .second-input-row-container > textarea {
    resize: none;
    width: 100%;
    height: 120px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
  }
}
